<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>25</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-199</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>620</integer>
        <key>width</key>
        <integer>19</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>722</integer>
        <key>width</key>
        <integer>27</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 43</key>
      <dict>
        <key>width</key>
        <integer>43</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>37</key>
          <integer>2</integer>
          <key>61</key>
          <integer>3</integer>
          <key>85</key>
          <integer>4</integer>
          <key>109</key>
          <integer>5</integer>
          <key>128</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 40</key>
      <dict>
        <key>width</key>
        <integer>40</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>37</key>
          <integer>2</integer>
          <key>61</key>
          <integer>3</integer>
          <key>85</key>
          <integer>4</integer>
          <key>109</key>
          <integer>5</integer>
          <key>138</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>37</key>
          <integer>3</integer>
          <key>49</key>
          <integer>4</integer>
          <key>63</key>
          <integer>5</integer>
          <key>69</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 67</key>
      <dict>
        <key>width</key>
        <integer>67</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>37</key>
          <integer>3</integer>
          <key>49</key>
          <integer>4</integer>
          <key>63</key>
          <integer>5</integer>
          <key>83</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 62</key>
      <dict>
        <key>width</key>
        <integer>62</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>37</key>
          <integer>3</integer>
          <key>57</key>
          <integer>4</integer>
          <key>73</key>
          <integer>5</integer>
          <key>89</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 225</key>
      <dict>
        <key>width</key>
        <integer>225</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>6</key>
          <integer>2</integer>
          <key>11</key>
          <integer>3</integer>
          <key>15</key>
          <integer>4</integer>
          <key>19</key>
          <integer>5</integer>
          <key>25</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 258</key>
      <dict>
        <key>width</key>
        <integer>258</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>6</key>
          <integer>2</integer>
          <key>11</key>
          <integer>3</integer>
          <key>15</key>
          <integer>4</integer>
          <key>19</key>
          <integer>5</integer>
          <key>22</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
